.pagination {
  display: flex;
  // 1-2: Disable browser default list styles 
  padding-left: 0; // 1
  list-style: none; // 2
  @include border-radius();
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;                   /*changed 1 line*/
    }
  }
                    /*removed next code*/
  /*&:last-child {
    .page-link {
      @include border-right-radius($border-radius);
    }
  }*/

  &.active .page-link {                     /*changed all values*/
    
    z-index: 2;
    //color: $pagination-active-color;
    color: #FFFFFF;
    //background-color: $pagination-active-bg;
    background-color: $YuktaBlue;
    //border-color: $pagination-active-border;
    border-color: $ExtraDarkSnow;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    cursor: $cursor-disabled; // While `pointer-events: none` removes the cursor in modern browsers, we provide a disabled cursor as a fallback.
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -1px;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;
  font-family: $f-f-S-S-Pro;
  text-decoration: none;                                                  /*added 3 lines*/
  font-size: 0.75rem;
  color: $YuktaBlue;

  @include hover-focus {                          /*changed all values*/
    //color: $pagination-hover-color;
    color: $YuktaBlue;
    text-decoration: none;
    //background-color: $pagination-hover-bg;
    background-color: $DarkSnow;
    //border-color: $pagination-hover-border;
    border-color: $ExtraDarkSnow;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}

@media screen and (max-width: 360px) {                /*added 1 new function*/  /*for responsiveness*/
    .pagination {
        .page-link {
          padding: $pagination-padding-y;             /**/
        }
    }
}