
.strength {
  display: flex;
  overflow: hidden; // force rounded corners by cropping it
  font-size: $pas-str-font-size;
  line-height: $pas-str-height;
  margin: 1rem 0;
  text-align: center;
  background-color: $pas-str-bg;
  @include border-radius($pas-str-border-radius);
}

.strength-bar {
  height: $pas-str-height;
  line-height: $pas-str-height;
  color: $pas-str-bar-color;
  background-color: $pas-str-bar-bg;
}
